.slds-text-heading--small
  font-weight: 700

.slds-popover--tooltip
  display: none

.slds-page-header
  width: calc(100% - 56px)
  position: relative
  left: 56px
  

.slds-page-header__detail-row
  background-color: rgb(247, 249, 251)

.slds-page-header__detail-block
  max-width: 100%

.slds-popover--tooltip
  opacity: 0.9
